*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #f0f0f0;
    font-family: sans-serif;
    height: 100vh;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    background-color: #f0f0f0;
    align-items: center;
}
header h1{
    color: #444;
    border-bottom: 3px solid #ee4b4b;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: #444;
    border-bottom: 3px solid #ee4b4b;

}
section{
    width: 800px;
    height: 400px;
    background-color: #fff;
    /* margin-top: 10px;
       margin-left: 10px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #666;

}
section h1{
    color: #ee4b4b;
    padding: 30px;
    margin-bottom: 30px;
    font-size: 35px;
}
section .link-container, .format-container, .button-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 500px;
}
section .link-container label, .format-container label{
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #444;
}
section .link-container input, .format-container select{
    outline: none;
    height: 35px;
    border-radius: 5px;
    padding: 0 10px;
    border: 2px solid #666;
    font-size: 14px;
}
section .button-container button{
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    background-color: #ee4b4b;
    letter-spacing: 1px;
    cursor: pointer;
}
@media only screen and (max-width: 850px){
    section{
        width: 500px;
    }
    section .link-container, .button-container, .format-container{
        width: 300px;
    }
}
@media only screen and (max-width: 550px){
    section{
        width: 350px;
        height: 450px;
        margin-top: 50px;
    }
    section .link-container, .button-container, .format-container{
        width: 300px;
    }
}
